<%- include('./partials/header') %> 

<form action="/" method="POST">
    <input type="text" name="fullUrl" >
    <button>Shorten</button>
</form>

<table>
    <thead>
        <th>Short</th>
    </thead>
    <tbody>
        <tr> <a href="http://<%= Shorten %>"><%= Shorten %></a> </tr>
    </tbody>
</table>

<%- include('./partials/footer') %> 
